<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'HEADER' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @defer(when !isServiceLoading) {
    <ion-list class="ion-padding list__heroes"
      [ngClass]="{'list__heroes--columns': heroes.length}">
      @for (hero of heroes; track hero.id) {

        <ion-card (click)="showHeroDetail(hero)"
          class="hero__card"
          [style.background-image]="'url('+hero.thumbnail.path+'.'+hero.thumbnail.extension+')'">
          <ion-label class="ion-margin-bottom ion-text-center hero--text">{{hero.name}}</ion-label>
        </ion-card>
      }
      @empty {
        @if (!isServiceLoading && !error) {
          <ion-item lines="none" class="hero--no-data">
            <ion-label class="ion-text-center hero--text">{{'NOT_FOUND' | translate}}</ion-label>
          </ion-item>
        }
        @else {
          <ion-item lines="none" class="hero--no-data">
            <ion-label class="ion-text-center hero--text">{{'HERO_ERRROR' | translate}}</ion-label>
          </ion-item>
        }
      }
    </ion-list>
  }
  @placeholder {
    <ion-list class="ion-padding list__heroes list__heroes--columns">
      @for (i of skeletonItems; let idx = $index; track idx) {
        <ion-card class="hero__card">
          <ion-skeleton-text class="ion-no-margin" animated style="height: 5rem" />
        </ion-card>
      }
    </ion-list>
  }

</ion-content>