<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{hero?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  @if(hero) {

    <ion-thumbnail>
      <img [alt]="hero.name" [src]="hero.thumbnail.path+'.'+hero.thumbnail.extension" />
    </ion-thumbnail>


    <ion-item lines="none">
      <ion-label class="description">{{('COMMITS_QUANTITY' | translate: {quantity: hero.comics.available})}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="description">{{('SERIES_QUANTITY' | translate: {quantity: hero.comics.available})}}</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="description">{{('STORIES_QUANTITY' | translate: {quantity: hero.comics.available})}}</ion-label>
    </ion-item>
  }

</ion-content>
